<div class="jumbotron">

  </div>
<div class="row">
    <div class="col-8 col-xl-5 p-0">
        <div class="row justify-content-center p-0" >
            <a class="btn btn-primary m-2" href="#" role="button">By number of species</a>
            <a class="btn btn-primary m-2" href="#" role="button">By number of specimens</a>
        </div>
        <div class="row sunburst">
            this is a future sunburst
        </div>
        
    </div>

    <div class="col-4 col-xl-2 p-0">
        <div class="row justify-content-center" >
            <a class="btn btn-primary m-2" href="#" role="button">Filtering Options</a>
        </div>
        <div class="row specimens">
            this will be selected specimens
        </div>
       
    </div>

    <div class="col-12 col-xl-5 p-0">
        <div class="row justify-content-center" >
            <a class="btn btn-primary m-2" href="#" role="button">Scatterplot</a>
            <a class="btn btn-primary m-2" href="#" role="button">Parallel Coordinates</a>
            <a class="btn btn-primary m-2" href="#" role="button">Map</a>
        </div>
        <div class="row graphs">
            this will be graphs with the selected specimens
        </div>
        
    </div>
</div>