<nav class="navbar navbar-dark navbar-expand-sm bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Taxonomy Browser</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" routerLink="specimen">Find Specimens</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" routerLink="admin">Admin Panel</a></li>
        </ul>
    </div>
</nav>

<!-- atualizar pra versao adaptativa que tem no codigo da aula -->
<!-- adicionar botao de login no canto direito -->